.tenant_info {
    background: rgba(206, 185, 146, 0.2);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15% 10.5%;
    padding: 0 10px 30px 10px;
    
    .header_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        text-align: left;
        width: 60%;
        padding: 0;
    }

    .detail_info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 20px 0px 20px;

        div {
            width: 100%;
        }
    }
}

.tenant_property {
    background: rgba(206, 185, 146, 0.2);
    border-radius: 5px; 
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 10.5%; 

    h2 {
        padding: 0;
    }

    .detail_property {
        padding: 0 10px 10px 10px;
    }
}

.tenant_payments {
    background: rgba(206, 185, 146, 0.2);
    border-radius: 5px; 
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10.5%;

    h2 {
        padding: 0;
    }

    .detail_payment {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 10px 10px 10px;
    }
}

@media (min-width: 800px) {
    .tenant_info {
        margin: 10% 10.5%;
    }
    .detail_info {
        padding: 0 30px 0 30px;
    }
}